.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.contentPart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  border: 1.5px solid #d2d2d2;
  border-radius: 8px;
  min-height: 80vh;
  padding: 20px 10px;
  margin-bottom: 20px;
}
.headingText {
  margin: 0;
  font-size: 28px;
  font-family: "IRANSans";
  color: #2e4e9a;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 460px) {
  .contentPart {
    overflow-y: scroll;
  }
}
