.backDrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: top center;
  animation: translateZ 300ms ease-in-out forwards;
}
.closeButton {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 8888888;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 500px;
  /* min-width: 1100px; */
  background: #ffffff;
  border: 3px solid #026fc2;
  border-radius: 8px;
  position: relative;
}
.headerText {
  margin: 0;
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #60c15e;
  /* margin-top: 14px; */
  position: absolute;
  top: 20px;
  margin: 0 auto;
  /* left: 40%; */
}
.cartsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  height: 80%;
}
.emptyText {
  margin: 0;
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #c42e00;
  /* margin-top: 14px; */
  margin: 0 auto;
  text-align: center;
}

@keyframes translateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }
  80% {
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@media only screen and (max-width: 460px) {
  .cartsContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: unset;
    flex-direction: column;
  }
}
@media only screen and (max-width: 290px) {
  .headerText {
    margin-top: 25px;
  }
  .cartsContainer {
    margin-top: 60px;
  }
}
